.naslovna{
  background-image: url("https://images.squarespace-cdn.com/content/v1/5665e893bfe8736bcec8194a/1618843188760-Z0BDWJ7WI50IQ5KHXUAK/Columbia+Classic+Barbershop.jpg?format=2500w");
  height: 200px;
  background-size: cover;
}
