<div class="naslovna"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="margin-left: auto ; margin-right: auto;">
      <a style="margin-right: 20px;" class="nav-item nav-link" routerLink="/zaposlenici">ZAPOSLENICI </a>
      <a style="margin-right: 20px;" class="nav-item nav-link" routerLink="/proizvodi">PROIZVODI </a>
      <a style="margin-right: 20px;" class="nav-item nav-link" routerLink="/lokacije">LOKACIJE </a>
      <a style="margin-right: 20px;" class="nav-item nav-link" routerLink="/novosti">NOVOSTI </a>
      <a style="margin-right: 20px;" class="nav-item nav-link" routerLink="/ponuda">PONUDA </a>
      <a style="margin-right: 20px;" class="nav-item nav-link" routerLink="/rezervacija">REZERVACIJA </a>
      <a style="margin-right: 20px;" class="nav-item nav-link" routerLink="/arhiva">ARHIVA </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

